{% extends 'pagina.html.twig' %}

{% block header %}
<h2 class = "green-text center-align">Listado Clientes</h2>
<hr>
{% endblock %}

{% block cuerpo %}
<article>
  <table>
      <tr>
          <th>NOMBRE EMPRESA</th>
          <th>TELEFONO</th>
          <th>E-MAIL</th>
          <th>NOMBRE PERSONA CONTACTO</th>
          <th>ALTA</th>
      </tr>
        <form action="../Controller/gestionClienteBBDD.php" method="POST">
      <tr>
        <th><input type="text" name = "nomempCli"></th>
        <td><input type="text" name = "tlfCli"></td>
        <td><input type="text" name = "emailCli"> </td>
        <td><input type="text" name = "nomconCli"></td>
        <td><input class="btn green" type="submit" name = "ACTION" value="ALTA"></td>
      </tr>
        </form>
      <tr class="green lighten-4">
          <th>NOMBRE EMPRESA</th>
          <th>CODIGO</th>
          <th>TELEFONO</th>
          <th>E-MAIL</th>
          <th>NOMBRE PERSONA CONTACTO</th>
          <th>BORRAR</th>
          <th>MODIFICAR</th>
      </tr>
    {% for cliente in clientes  %}
        <form action="../Controller/gestionClienteBBDD.php" method="POST">
      <tr>
        <th class="green lighten-5" id="clienteNombreEmpresa">{{cliente.nomempCli}}</th>
        <td id="clienteCodigo"><input type="hidden" name="codCli" value="{{cliente.codCli}}">{{cliente.codCli}}</td>
        <td id="clienteTlf">{{cliente.tlfCli}}</td>
        <td id="clienteEmail">{{cliente.emailCli}} </td>
        <td id="clienteNombreContacto">{{cliente.nomconCli}}</td>
        <td><input class="btn red" type="submit" name="ACTION" value="BORRAR"></td>
        </form>
        <td><button class="modificarCliente btn yellow" >MODIFICAR</button></td> 
      </tr>
    {% endfor %}
  </table>
  <div>
            <div class = "z-depth-4 card-panel" id="dialog-cliente">
                <h5 class="center-align">MODIFICAR CLIENTE</h5>
                <p class="validateTips red-text">Todos los campos han de estar rellenos</p>
                <form action="../Controller/gestionClienteBBDD.php" method="POST" name=''>
                    <label>Nombre Empresa:</label><input  class="center-align"id="nomempCli" type="text" name="nomempCli"><br>
                    <input  id="codCli" type="hidden" name="codCli"><br>
                    <label>Telefono: </label><input  class="center-align"id="tlfCli" type="text" name="tlfCli"><br>
                    <label>e-mail: </label><input  class="center-align"id="emailCli" type="text" name="emailCli"><br>
                    <label>Persona Contacto: </label><input  class="center-align" id="nomconCli"  type="text" name="nomconCli"><br>
                    <!--<input class="btn" type="submit" name="ACTION" value="MODIFICAR">-->
                </form>
            </div>
           
        </div>
</article>

{% endblock %}
