{% extends 'pagina.html.twig' %}

{% block header %}
<h2 class = "green-text center-align">Listado Usuarios</h2>
<hr>
{% endblock %}

{% block cuerpo %}
<article>
  <table>
      <tr>
          <th>NOMBRE</th>
          <th>CATEGORIA</th>
          <th>E-MAIL</th>
          <th>PERMISOS</th>
          <th>LOGIN</th>
          <th>PASS</th>
          <th>ALTA</th>
      </tr>
        <form action="../Controller/gestionUsuarioBBDD.php" method="POST">
      <tr>
        <th><input type="text" name = "nomUsu"></th>
        <td><input type="text" name = "catUsu"></td>
        <td><input type="text" name = "emailUsu"> </td>
        <td><input type="text" name = "permisoUsu"></td>
        <td><input type="text" name = "loginUsu"></td>
        <td><input type="text" name = "passUsu"></td>
        <td><input class="btn green" type="submit" name = "ACTION" value="ALTA"></td>
      </tr>
        </form>
      <tr class="green lighten-4">
          <th>NOMBRE</th>
          <th>CODIGO</th>
          <th>CATEGORIA</th>
          <th>E-MAIL</th>
          <th>PERMISOS</th>
          <th>LOGIN</th>
          <th>PASS</th>
          <th>BORRAR</th>
          <th>MODIFICAR</th>
      </tr>
    {% for usuario in usuarios  %}
        <form action="../Controller/gestionUsuarioBBDD.php" method="POST">
      <tr>
        <th class="green lighten-5" id="usuarioNombre">{{usuario.NomUsu}}</th>
        <td id="usuarioCodigo"><input type="hidden" name="codUsu" value="{{usuario.CodUsu}}">{{usuario.CodUsu}}</td>
        <td id="usuarioCategoria">{{usuario.CatUsu}}</td>
        <td id="usuarioEmail">{{usuario.EmailUsu}} </td>
        <td id="usuarioPermisos">{{usuario.PermisoUsu}}</td>
        <td id="usuarioLogin">{{usuario.LoginUsu}}</td>
        <td id="usuarioPass">{{usuario.PassUsu}} </td>
        <td><input class="btn red" type="submit" name="ACTION" value="BORRAR"></td>
        </form>
        <td><button class="create-user btn yellow" >MODIFICAR</button></td>
        
      
          
        </tr>
    {% endfor %}
  </table>
  <div>
            <div class = "z-depth-4 card-panel" id="dialog-form"> 
                <h5 class="center-align">MODIFICAR USUARIO</h5>
                <p class="validateTips">Todos los campos han de estar rellenados</p>
                <form action="../Controller/gestionUsuarioBBDD.php" method="POST" name=''>
                    <label>Nombre:</label><input class="center-align" id="nom" type="text" name="nomUsu"><br>
                     <input  id="codigo" type="hidden" name="codUsu"><br>
                    <label>Categoria: </label><input class="center-align" id="categoria" type="text" name="catUsu"><br>
                    <label>e-mail: </label><input class="center-align" id="email" type="text" name="emailUsu"><br>
                    <label>Permisos: </label><input class="center-align" id="permisos"  type="text" name="permisoUsu"><br>
                    <label>Login: </label><input class="center-align" id="login" type="text" name="loginUsu"><br>
                    <label>Pass: </label><input class="center-align" id="pass" type="text" name="passUsu"><br>
                    <input class = "btn" type="submit" name="ACTION" value="MODIFICAR">
                </form>
            </div>
           
        </div>
</article>

{% endblock %}
